@charset "UTF-8";

body {
    font-family: verdana, sans-serif;
    font-size: 1rem;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiasing;
    background: var(--background);
    color:      var(--foreground);
}

main {
    max-width: 45rem;
    padding: 2rem;
    margin: auto;

    p {
        padding-bottom: 1rem;
    }

    a {
        color: var(--link-color);

        &:visited {
            color: var(--link-visited);
        }
    }

    li {
        margin: 0 0 10px 0;
    }

    article:not(:last-of-type) {
        border-bottom: 1px solid var(--border-color);
    }
}

@media only screen and (max-device-width: 736px) {
    main {
        padding: 0rem;
    }
}

.container {
    display: flex;
    justify-content: space-between;
}

.post {
    &-preview {
        display: flex;
        flex-direction: column;

        // formatting for the preview, since i can't get it in its own tag rn
        p {
            margin-top: 0.5rem;
        }
    }

    &-title {
        color: var(--accent);
        position: relative;
        font-size: 1.5rem;
        margin-bottom: 0.25rem;

        a {
            color: inherit;
            text-underline-position: under;
        }

        a:visited {
            color: var(--accent-visited);
        }
    }

    &-excerpt {
        margin-top: 0rem;
    }
}