#navbar {
	position: fixed;
	display: flex;
	top: 0;
	bottom: 0;
	left: 0;
	width: 10rem;
	color: #fbf1c7;
}

nav { 
	li {
		list-style: none;
		line-height: 2em;
	}

	a {
		text-decoration: none;
		color: var(--foreground);

		&:hover, &:visited:hover {
			color: var(--link-hover);
			text-decoration: underline;
		}

		&:visited {
			color: var(--link-visited);
		}

		&:active {
			color: var(--link-active);
		}
	}
}