@charset "UTF-8";

@import 'navbar';
@import 'font';

body {
  font-family: Hack, Ubuntu Mono, DejaVu Sans Mono, monospace;
  background: #282828;
  color:      #ebdbb2;
}

main {
  max-width: 38rem;
  padding: 2rem;
  margin: auto;
}

@media only screen and (max-device-width: 736px) {
  main {
    padding: 0rem;
  }
}

main a {
  color: #ebdbb2;
}

main a:visited {
  color: #549699;
}

blockquote {
  border-left: 1px solid #bdae93;
  margin: 0.5em 10px;
  padding: 0.5em 10px;
}

footer {
  align: center;
}

.container {
  display: flex;
  justify-content: space-between;
}

@media (prefers-color-scheme: light) {
    body {
        background: #fbf1c7;
        color:      #3c3836;
    }

    a, a:active, a:visited {
        color: #b16286;
        background-color: #f9f5d7;
    }
}