:root {
  --background: #282828;
  --foreground: #ebdbb2;
  --border-color: rgba(255, 255, 255, .1);
  --link-color: rgb(129, 162, 190);
  --link-visited: rgb(84, 150, 153);
  --link-hover: rgb(211, 134, 155);
  --link-active: rgb(177, 98, 134);
  --accent: rgb(142, 192, 124);
}