#navbar {
  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  width: 10rem;
  color: #fbf1c7
}

nav li {
  list-style: none;
  line-height: 2em
}

nav a {
  text-decoration: none;
  color: var(--foreground)
}

nav a:hover,
nav a:visited:hover {
  color: var(--link-hover);
  text-decoration: underline
}

nav a:visited {
  color: var(--link-visited)
}

nav a:active {
  color: var(--link-active)
}

@font-face {
  font-display: swap;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/FiraCode-Regular.woff") format("woff")
}

@font-face {
  font-display: swap;
  font-family: "Fira Code";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/FiraCode-Bold.woff") format("woff")
}

body {
  font-family: verdana, sans-serif;
  font-size: 1rem;
  line-height: 1.4;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiasing;
  background: var(--background);
  color: var(--foreground)
}

main {
  max-width: 45rem;
  padding: 2rem;
  margin: auto
}

main p {
  padding-bottom: 1rem
}

main a {
  color: var(--link-color)
}

main a:visited {
  color: var(--link-visited)
}

main li {
  margin: 0 0 10px 0
}

main article:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color)
}

@media only screen and (max-device-width: 736px) {
  main {
    padding: 0rem
  }
}

.container {
  display: flex;
  justify-content: space-between
}

.post-preview {
  display: flex;
  flex-direction: column
}

.post-preview p {
  margin-top: .5rem
}

.post-title {
  color: var(--accent);
  position: relative;
  font-size: 1.5rem;
  margin-bottom: .25rem
}

.post-title a {
  color: inherit;
  text-underline-position: under
}

.post-title a:visited {
  color: var(--accent-visited)
}

.post-excerpt {
  margin-top: 0rem
}