body {
  font-family: serif;
  font-size: 16px;
  color: #F8F8FC;
  background: #111;
}

div.content {
  max-width: 800px;
  padding: 2rem;
  margin: auto;
}

nav {
  display: inline-block;
}

nav a {
  padding: 0.2em;
  text-decoration: none;
  color: var(--foreground);
}

nav a:hover,
nav a:visited:hover {
  color: var(--link-hover);
  text-decoration: underline
}

nav a:visited {
  color: var(--link-visited)
}

main {
  line-height: 1.3;
}

main a {
  color: var(--link-color)
}

main a:visited {
  color: var(--link-visited)
}

main li {
}

main article:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color)
}

@media only screen and (max-device-width: 736px) {  
  main {
    padding: 0rem;
  }
}

ul.spaced li:not(:last-child) {
  margin-bottom: 10px;
}

.faded {
  color: var(--faded-text);
}

.container {
  display: flex;
  justify-content: space-between
}

.post-preview {
  display: flex;
  flex-direction: column
}

.post-preview p {
  margin-top: .5rem
}

.post-title {
  color: var(--accent);
  position: relative;
  font-size: 1.5rem;
  margin-bottom: .25rem
}

.post-title a {
  color: inherit;
  text-underline-position: under;
}

.post-title a:visited {
  color: var(--accent-visited);
}

.post-excerpt {
  margin-top: 0rem;
}
