<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="my blog">
    <title>soulware.us</title>

    <link rel="stylesheet"  href="{{ get_url(path='style.css') }}">
    {% set theme = "color/" ~ config.extra.color_theme ~ ".css" %}
    <link rel="stylesheet" href="{{ get_url(path=theme) }}">

</head>

<body>
    <nav id="navbar">
        <ul class="bar">
            {% for link in config.extra.links %}
            <li> 
                <a href="{{ link.url | safe }}">{{ link.text }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <main>
        {% block content %} {% endblock %}
    </main>
</body>
	
</html>