<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>soulware.us</title>
	<link rel="stylesheet" type="text/css" href="{{ get_url(path='style.css') }}">
</head>

<body>
    <nav id="navbar">
        <ul class="bar">
            {% for link in config.extra.links %}
            <li> 
                <a href="{{ link.url | safe }}">{{ link.text }}</a>
            </li>
            {% endfor %}
        </ul>
    </nav>
    <main>
        {% block content %} {% endblock %}
    </main>
</body>
	
</html>