{% extends "base.html" %}

{% block content %}
<h1 class="title">
    sam (soulware)
</h1>
<p>
    studying computer science and mathematics at Northeastern University
</p>

{% set posts = get_section(path='blog/_index.md') %}
{% for page in posts.pages %}
<article class="post-preview">
    <header>
        <h3 class="post-title">
            <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        </h3>
    </header>
        {{ page.summary | safe }}
</article>
{% endfor %}

{% endblock content %}