<!doctype html>

<head>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="{{ get_url(path='smb.css') }}" />
</head>

<body>
  <h1>Super Magic Box</h1>
  <p>
    Put in a value for D to compute its Super Magic Box:
    <input name="input-D" id="input-D" type="number" />
  </p>
  <table id="smb">
    <tr id="smb-n">
      <td>
        <math display="block" class="tml-display" style="display: block math">
          <mi>n</mi>
        </math>
      </td>
    </tr>
    <tr id="smb-An">
      <td>
        <math display="block" class="tml-display" style="display: block math">
          <mrow>
            <msub>
              <mi>A</mi>
              <mi>n</mi>
            </msub>
            <mo>=</mo>
            <msub>
              <mi>a</mi>
              <mrow>
                <mi>n</mi>
                <mo>−</mo>
                <mn>1</mn>
              </mrow>
            </msub>
            <msub>
              <mi>C</mi>
              <mrow>
                <mi>n</mi>
                <mo>−</mo>
                <mn>1</mn>
              </mrow>
            </msub>
            <mo>−</mo>
            <msub>
              <mi>A</mi>
              <mrow>
                <mi>n</mi>
                <mo>−</mo>
                <mn>1</mn>
              </mrow>
            </msub>
          </mrow>
        </math>
      </td>
    </tr>
    <tr id="smb-Cn">
      <td>
        <math display="block" class="tml-display" style="display: block math">
          <mrow>
            <msub>
              <mi>C</mi>
              <mi>n</mi>
            </msub>
            <mo>=</mo>
            <mo form="prefix" stretchy="false">(</mo>
            <mi>D</mi>
            <mo>−</mo>
            <msubsup>
              <mi>A</mi>
              <mi>n</mi>
              <mn>2</mn>
            </msubsup>
            <mo form="postfix" stretchy="false">)</mo>
            <mi>/</mi>
            <msub>
              <mi>C</mi>
              <mrow>
                <mi>n</mi>
                <mo>−</mo>
                <mn>1</mn>
              </mrow>
            </msub>
          </mrow>
        </math>
      </td>
    </tr>
    <tr id="smb-an">
      <td>
        <math display="block" class="tml-display" style="display: block math">
          <mrow>
            <msub>
              <mi>a</mi>
              <mi>n</mi>
            </msub>
            <mo>=</mo>
            <mo form="prefix" stretchy="false">⌊</mo>
            <mrow>
              <mo form="prefix" stretchy="false" lspace="0em" rspace="0em"
                >(</mo
              >
              <msub>
                <mi>A</mi>
                <mi>n</mi>
              </msub>
              <mo>+</mo>
              <msub>
                <mi>a</mi>
                <mn>0</mn>
              </msub>
              <mo form="postfix" stretchy="false">)</mo>
              <mi>/</mi>
              <msub>
                <mi>C</mi>
                <mi>n</mi>
              </msub>
            </mrow>
            <mo form="postfix" stretchy="false">⌋</mo>
          </mrow>
        </math>
      </td>
    </tr>
    <tr id="smb-pn">
      <td>
        <math display="block" class="tml-display" style="display: block math">
          <mrow>
            <msub>
              <mi>p</mi>
              <mi>n</mi>
            </msub>
            <mo>=</mo>
            <msub>
              <mi>a</mi>
              <mi>n</mi>
            </msub>
            <msub>
              <mi>p</mi>
              <mrow>
                <mi>n</mi>
                <mo>−</mo>
                <mn>1</mn>
              </mrow>
            </msub>
            <mo>+</mo>
            <msub>
              <mi>p</mi>
              <mrow>
                <mi>n</mi>
                <mo>−</mo>
                <mn>2</mn>
              </mrow>
            </msub>
          </mrow>
        </math>
      </td>
    </tr>
    <tr id="smb-qn">
      <td>
        <math display="block" class="tml-display" style="display: block math">
          <mrow>
            <msub>
              <mi>q</mi>
              <mi>n</mi>
            </msub>
            <mo>=</mo>
            <msub>
              <mi>a</mi>
              <mi>n</mi>
            </msub>
            <msub>
              <mi>q</mi>
              <mrow>
                <mi>n</mi>
                <mo>−</mo>
                <mn>1</mn>
              </mrow>
            </msub>
            <mo>+</mo>
            <msub>
              <mi>q</mi>
              <mrow>
                <mi>n</mi>
                <mo>−</mo>
                <mn>2</mn>
              </mrow>
            </msub>
          </mrow>
        </math>
      </td>
    </tr>
    <tr id="smb-pell">
      <td>
        <math display="block" class="tml-display" style="display: block math">
          <mrow>
            <msubsup>
              <mi>p</mi>
              <mi>n</mi>
              <mn>2</mn>
            </msubsup>
            <mo>−</mo>
            <mi>D</mi>
            <msubsup>
              <mi>q</mi>
              <mi>n</mi>
              <mn>2</mn>
            </msubsup>
          </mrow>
        </math>
      </td>
    </tr>
  </table>
  <p>
    The fundamental unit in
    <math class="tml-display" style="display: block math">
      <mrow>
        <mi>ℤ</mi>
        <mo form="prefix" stretchy="false">[</mo>
        <msqrt>
          <mi class="smb-fund-D-value">D</mi>
        </msqrt>
        <mo form="postfix" stretchy="false">]</mo>
      </mrow>
    </math>
    is
    <math class="tml-display" style="display: block math">
      <mrow>
        <mi id="smb-fund-a-value">a</mi>
        <mo>+</mo>
        <mi id="smb-fund-b-value">b</mi>
        <msqrt>
          <mi class="smb-fund-D-value">D</mi>
        </msqrt>
      </mrow> </math
    >, with norm <math><mi id="smb-fund-norm-value">N</mi></math>
  </p>
  <p>
    A factorization of <math><mi class="smb-fund-D-value">D</mi></math> is given
    by
    <math class="tml-display" style="display: block math">
      <mrow>
        <mi>g</mi>
        <mi>c</mi>
        <mi>d</mi>
        <mo form="prefix" stretchy="false">(</mo>
        <mi id="smb-fact-p-value">p</mi>
        <mo>+</mo>
        <mi id="smb-fact-C-value">C</mi>
        <mo separator="true">,</mo>
        <mi class="smb-fund-D-value">D</mi>
        <mo form="postfix" stretchy="false">)</mo>
        <mo>=</mo>
        <mi class="smb-fact-d-value">d</mi>
        <mo stretchy="false">→</mo>
        <mi class="smb-fund-D-value">D</mi>
        <mo>=</mo>
        <mi class="smb-fact-d-value">d</mi>
        <mo>*</mo>
        <mrow id="smb-fact-other-value">
          <mo form="prefix" stretchy="false">(</mo>
          <mi>p</mi>
          <mo>+</mo>
          <mi>C</mi>
          <mo form="postfix" stretchy="false">)</mo>
        </mrow>
      </mrow>
    </math>
  </p>
  <script src="{{ get_url(path='scripts/smb.js') }}"></script>
</body>
